@{
    ViewBag.Title = "ResetPasswordConfirm";
    Layout = null;
}
<style>
    body {
        margin: 0;
        padding: 0;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        background-image: url(/Content/images/healthy-breakfast-table2.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center; /* 使文本居中 */
    }

    h2 {
        margin-bottom: 5px; /* 確保 h2 和 a 之間有足夠的空間 */
    }

    .nav-link {
        text-decoration: none; /* 移除底線 */
        color: slategrey; /* 可根據需求修改顏色 */
        /*display:block;*/
        margin-top:5px;
    }

        .nav-link:hover {
            text-decoration: underline; /* 可選：當滑鼠懸停時加底線 */
        }
</style>

<div class="content-container">
    <h2>已成功更新密碼!</h2>
    <br /> <!-- 確保換行 -->
    <a class="nav-link" href="@Url.Action("Login", "Login")">回到登入頁</a>
</div>