body {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-image: url(/Content/images/healthy-breakfast-table.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
    overflow: hidden;
}

.fredoka-custom {
    font-family: "Fredoka", sans-serif;
    font-weight: 400; /* 設置為粗體，如果需要其他粗細可以設置為 400, 500 等 */
    font-style: normal;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    margin-bottom: 10px;
    font-size: 56px;
}

.fredoka-custom2 {
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 500; 設置為粗體，如果需要其他粗細可以設置為 400, 500 等 */
    font-style: normal;
    /* font-variation-settings: "wdth" 100; */
    margin-top: 0;
    font-size: 40px;
}

.text-part1 {
    color: #f37c4c; /* 第一部分的顏色，例如橙色 */
    font-weight: bold;
}

.login-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 20px; /* 向下移動 */
    margin-left: 150px; /* 向右移動 */
}

.login-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5); /* 增加了模糊半徑 */
    width: 300px;
    text-align: center;
}

    .login-box h2 {
        margin: 0 0 10px;
        color: #f37c4c;
        text-align: left;
        font-size: 25px;
        font-weight: bolder;
    }

.input-group {
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
}

.input-group2 {
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
}

.input-group3 {
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
}

.input-group4 {
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
}

.input-group5 {
    position: relative;
    margin-bottom: 40px;
    margin-top: 20px;
}

.input-group input {
    width: 280px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
    border: 0px solid #a9a9a9;
    font-size: 15px;
    background-color: #e8e8e8; /* 設置背景顏色 */
    color: #4b4a4a; /* 設置文字顏色 */
}

.input-group2 input {
    width: 280px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
    border: 0px solid #a9a9a9;
    font-size: 15px;
    background-color: #e8e8e8; /* 設置背景顏色 */
    color: #4b4a4a; /* 設置文字顏色 */
}

.input-group3 input {
    width: 280px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
    border: 0px solid #a9a9a9;
    font-size: 15px;
    background-color: #e8e8e8; /* 設置背景顏色 */
    color: #4b4a4a; /* 設置文字顏色 */
}

.input-group4 input {
    width: 280px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
    border: 0px solid #a9a9a9;
    font-size: 15px;
    background-color: #e8e8e8; /* 設置背景顏色 */
    color: #4b4a4a; /* 設置文字顏色 */
}

.input-group5 input {
    width: 280px;
    padding: 10px;
    padding-left: 10px;
    border-radius: 8px;
    border: 0px solid #a9a9a9;
    font-size: 15px;
    background-color: #e8e8e8; /* 設置背景顏色 */
    color: #4b4a4a; /* 設置文字顏色 */
}

    .input-group input:focus,
    .input-group2 input:focus,
    .input-group3 input:focus,
    .input-group4 input:focus,
    .input-group5 input:focus {
        border-color: #c7462c; /* 聚焦狀態下的邊框顏色 */
        box-shadow: 0 0 8px rgba(247, 113, 60, 0.5); /* 聚焦狀態下的陰影效果 */
        outline: none; /* 去掉默認的聚焦輪廓 */
    }
/* .icon {
    position: absolute;
    top: 58%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #a9a9a9;
  }
  
  .user-icon::before {
    content: url(/images/login.png);
  }
  
  .password-icon::before {
    content: url(/images/password.png);
  } */

.links {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
}

    .links a {
        color: #f37c4c;
        text-decoration: none;
    }

        .links a:hover {
            text-decoration: underline;
        }

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 20px;
    background: #f38e67;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

    button:hover {
        background: linear-gradient(55deg, #f69e4b, #f37c4c);
    }

.input-group label,
.input-group2 label,
.input-group3 label,
.input-group4 label,
.input-group5 label {
    position: absolute;
    top: -30%;
    left: 4px;
    transform: translateY(-50%);
    font-size: 13px;
    color: #a9a9a9;
    pointer-events: none;
    transition: 0.2s ease all;
}

.avatar-container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 20px auto; /* 讓大頭貼居中 */
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #c9c9c9;
    cursor: pointer;
    overflow: hidden;
}

    .avatar-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 50%; /* 确保覆盖层也是圆形的 */
}

.avatar-container:hover .overlay {
    opacity: 1;
}

.plus-icon {
    font-size: 36px;
    color: white;
}

.avatar-label {
    font-size: 14px;
    color: #9f9f9f;
    margin-top: -15px; /* 與圓圈之間的距離 */
}
